@import url('https://fonts.googleapis.com/css2?family=montserrat:wght@100..900&display=swap');


body {
      font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    
}

h1{
    font-family: "montserrat";
    font-weight: 700;
    font-size: 45px;
}

h2{
    font-family: "poppins";
    font-weight: 700;
    font-size: 48px;
    color: #000e4b;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 35px;
}

hr{
    color: #fffb00;
    width: 100%;
    width: 95%;
}

header {
    background-color: #032B44;; /* navyblue */
    color: #ffffff;
    padding: 1em;
    text-align: center;
    font-family: "montserrat";
    font-size: 20px;
    font-weight: 700;
  
}

header nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}


header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
}



.alert-box {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #6c5ce7;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  transform: translateX(100%);
  transition: transform 0.5s;
}

.alert-box.show {
  transform: translateX(0);
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#home {
    background-color: #032B44;; /* Purple */
    color: #ffffff;
    padding: 2em;
    text-align: center;
    width: 100%;
    font-family: "Montserrat" sans-serif;
    font-weight: 700;
}

#portfolio {
    background-color: #ffffff;
    padding: 2em;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.portfolio-item {
    background-color: #f7f7f7;
    padding: 1em;
    border: 1px solid #ddd;
    width: 100%;
}

.portfolio-item img {
    width: 100%;
    height: 230px;
    object-fit: contain;
    border-radius: 4px;
}

.portfolio-description{
    font-family: "poppins";
    font-weight: 400;
    font-size: 28px;
    color: #000e4b;
    width: 89%;
    line-height:32px;
}

.samples-slider {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.samples-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.samples-slide.active {
  display: block;
}

.samples-slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}


#contact {
    color: #ffffff;
    background-color: #032B44; /* Navy Blue */
    padding: 2em;
    border-radius: 8px;
    width: 95%;
}


form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
}

button {
    background-color: #ffffff; /* Purple */
    color: #032B44;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #cfcce9b4; /* Darker Purple */
}

.get-in-touch{
  font-family: "poppins";
    font-weight: 400;
    font-size: 28px;
    color: #ffffff;
}
.our-team{
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
}



.float-contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.float-contact img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.float-contact img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
